<section class="event-section">
    <a href="/event?Id=<%= encrypt(1005) %>">
        <div>
            <img src="/Images/betalabs.jpg" alt="Beta Labs">
            <h4>Beta Labs</h4>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a href="/event?Id=<%= encrypt(1006) %>">
        <div>
            <img src="/Images/gdg.jpg" alt="GDG">
            <h4>GDG</h4>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a href="/event?Id=<%= encrypt(1007) %>">
        <div>
            <img src="/Images/cyber.png" alt="Cyber Security Club">
            <h4>Cyber Security Club</h4>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a href="/event?Id=<%= encrypt(1008) %>">
        <div>
            <img src="/Images/enigma.jpg" alt="Enigma">
            <h4>Enigma</h4>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
    <a href="/event?Id=<%= encrypt(1010) %>">
        <div>
            <img src="/Images/elix.png" alt="ELIX">
            <h4>ELIX</h4>
            <!--<i class="fa-solid fa-ellipsis-vertical"></i>-->
        </div>
    </a>
</section>
